<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Trinity's Journey</title>
    <organization>UPC</organization>
    <path>save_game.xml</path>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <camera x="0" y="0"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <gui>
    <atlas file="gui/yellowSheet.png"/>
  </gui>

  <entityManager>
    <fx_death>fx/player_death_fx.wav</fx_death>
    <fx_jump>fx/player_jump.wav</fx_jump>
    <fx_enemy_death>fx/enemy_death.wav</fx_enemy_death>
  </entityManager>

  <map>
    <folder>maps/</folder>
  </map>

  <scene_menu>
    <map path="Intro_Map.tmx"/>
  </scene_menu>

  <scene>
    <path>entities_file_scene1.xml</path>
    <map path="Level1_Map.tmx"/>
    <audio path="music/cruising_for_goblins.ogg"/>
    <entities path="entities.xml"/>
  </scene>

  <scene2>
    <path>entities_file_scene2.xml</path>
    <map path="Level2_Map.tmx"/>
    <audio path="music/latin_industries.ogg"/>
  </scene2>
  
  <audio>
    <folder>audio/</folder>
    <volume value = "26"/>
  </audio>
    
  
</config>